.btn {
  &:link,
  &:visited {
    text-decoration: none;
    border-radius: 10rem;
    text-transform: uppercase;
    transition: all 0.7s;
    position: relative;
  }
  &--white {
    background-color: $color-white;
    color: $color-grey;
    padding: 1.5rem;
  }
  &--green {
    background-color: $color-primary-dark;
    color: $color-white;
    padding: 1.5rem;
  }
  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  }
  &:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 1rem 1rem rgba($color-black, 0.2);
  }
  /* doing the button animations */
  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10rem;
    z-index: -1;
    transition: all 0.5s;
  }
  &--white::after {
    background-color: $color-white;
    color: $color-grey;
    &::after {
      background-color: $color-primary;
    }
  }
  &--green::after {
    background-color: $color-primary-dark;
    color: $color-white;
    &::after {
      background-color: $color-primary;
    }
  }
  &:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }

  /* button slide in from bottom animation */
  &--animated {
    animation: moveInFromBottom 0.5s ease-out 0.75;
    animation-delay: 1s;
    animation-fill-mode: backwards;
  }
  &-learn-more {
    text-decoration: none;
    font-size: 2.2rem;
    display: inline-block;
    transition: all 0.5s;
    color: $color-primary-light;
    border-bottom: 0.1rem solid $color-primary-light;
    &:hover {
      transform: translateY(-0.5rem);
      padding: 0.2rem;
      color: white;
      box-shadow: 0.5rem 0.5rem 0.9rem $color-black;
      background-color: rgba($color-primary-light, 0.8);
    }
  }
}
