/* setting the default properties in the using a universal selector */
$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;
$color-white: white;
$color-grey: grey;
$color-black: black;
