/* setting the default properties in the using a universal selector */
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding: 2rem;
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  color: rgba(128, 128, 128, 0.664);
  font-weight: 400;
  line-height: 1.7;
}

.u-center-text {
  text-align: center;
}

.u-margin-buttom-small {
  margin-bottom: 1rem;
}

.u-margin-buttom-medium {
  margin-bottom: 4rem;
}

.u-margin-buttom-large {
  margin-bottom: 8rem;
}

.heading-secondary {
  background-image: linear-gradient(to right, #45e960, #28b485);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 3.5rem;
  font-weight: 700;
  transition: all 1s;
}
.heading-secondary:hover {
  transform: skewX(20deg) skewY(2deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.paragraph {
  color: rgb(99, 97, 97);
  font-size: 1.4rem;
}

.heading-tertiary {
  color: rgb(99, 97, 97);
  font-size: 1.7rem;
  text-transform: uppercase;
}

@keyframes moveInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    opacity: 1;
    transform: translateX(1rem);
  }
  100% {
    transform: translate(0rem);
  }
}
@keyframes moveInFromRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    opacity: 1;
    transform: translateX(1rem);
  }
  100% {
    transform: translate(0rem);
  }
}
@keyframes moveInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  100% {
    transform: translate(0rem);
  }
}
.heading-secondary {
  background-image: linear-gradient(to right, #45e960, #28b485);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 3.5rem;
  font-weight: 700;
  transition: all 1s;
}
.heading-secondary:hover {
  transform: skewX(20deg) skewY(2deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.paragraph {
  color: rgb(99, 97, 97);
  font-size: 1.4rem;
}

.heading-tertiary {
  color: rgb(99, 97, 97);
  font-size: 1.7rem;
  text-transform: uppercase;
}

.header {
  background-image: linear-gradient(to right bottom, rgba(69, 233, 96, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 95vh;
  clip-path: polygon(0 0, 100% 0, 100% 84%, 0 100%);
  --webkit-clip-path: polygon(0 0, 100% 0, 100% 84%, 0 100%);
  position: relative;
}
.header__logo-box {
  position: absolute;
  top: 0;
  bottom: 0;
}
.header__logo {
  height: 4rem;
}
.header__text-box {
  color: white;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  text-align: center;
}
.header-text--main {
  text-transform: uppercase;
  display: block;
  letter-spacing: 3rem;
  font-size: 6rem;
  animation-name: moveInFromLeft;
  animation-duration: 2s;
}
.header-text--sub {
  text-transform: uppercase;
  display: block;
  font-size: 40%;
  letter-spacing: 2rem;
  animation-name: moveInFromRight;
  animation-duration: 2s;
  margin-bottom: 8rem;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
@media only screen and (max-width: 56.25em) {
  .row:not(:last-child) {
    margin-bottom: 6rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .row {
    max-width: 50rem;
    padding: 0 3rem;
  }
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
@media only screen and (max-width: 56.25em) {
  .row [class^=col-]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 6rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .row [class^=col-] {
    width: 100% !important;
  }
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
.row .col-2-of-3 {
  width: calc(2 * (100% - 2 * 6rem) / 3 + 6rem);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}
.row .col-2-of-4 {
  width: calc(2 * (100% - 3 * 6rem) / 4 + 6rem);
}
.row .col-3-of-4 {
  width: calc(3 * (100% - 3 * 6rem) / 4 + 2 * 6rem);
}

.container-4 {
  background-image: linear-gradient(to bottom right, rgba(69, 233, 96, 0.8), rgba(40, 180, 133, 0.8)), url("../img/nat-4.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70rem;
  color: black;
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  clip-path: polygon(0 10%, 100% 0, 100% 84%, 0 100%);
}

.composition {
  position: relative;
}
.composition__images {
  width: 30rem;
  border-radius: 1rem;
  transition: all 0.5s;
}
.composition__images-p1 {
  position: absolute;
  top: 0;
  left: 0;
}
.composition__images-p2 {
  position: absolute;
  top: 5rem;
  left: 20rem;
}
.composition__images-p3 {
  position: absolute;
  top: 15rem;
  left: 10rem;
}
.composition__images-p1:hover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  transform: scale(1.1);
  transform: translateY(-1rem);
  outline: 1rem solid #45e960;
  outline-offset: 2rem;
  box-shadow: 0.5rem 0.5rem 1rem black;
}
.composition__images-p2:hover {
  position: absolute;
  top: 5rem;
  left: 20rem;
  z-index: 10;
  transform: scale(1.1);
  transform: translateY(-1rem);
  outline: 1rem solid #45e960;
  outline-offset: 2rem;
  box-shadow: 0.5rem 0.5rem 1rem black;
}
.composition__images-p3:hover {
  position: absolute;
  top: 15rem;
  left: 10rem;
  z-index: 10;
  transform: scale(1.1);
  transform: translateY(-1rem);
  outline: 1rem solid #45e960;
  outline-offset: 2rem;
  box-shadow: 0.5rem 0.5rem 1rem black;
}
.composition:hover .composition__images:not(:hover) {
  transform: scale(0.9);
}

.btn {
  /* doing the button animations */
  /* button slide in from bottom animation */
}
.btn:link, .btn:visited {
  text-decoration: none;
  border-radius: 10rem;
  text-transform: uppercase;
  transition: all 0.7s;
  position: relative;
}
.btn--white {
  background-color: white;
  color: grey;
  padding: 1.5rem;
}
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10rem;
  z-index: -1;
  transition: all 0.5s;
}
.btn--white::after {
  background-color: white;
  color: grey;
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn--animated {
  animation: moveInFromBottom 0.5s ease-out 0.75;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}
.btn-learn-more {
  text-decoration: none;
  font-size: 2.2rem;
  display: inline-block;
  transition: all 0.5s;
  color: #45e960;
  border-bottom: 0.1rem solid #45e960;
}
.btn-learn-more:hover {
  transform: translateY(-0.5rem);
  padding: 0.2rem;
  color: white;
  box-shadow: 0.5rem 0.5rem 0.9rem black;
  background-color: rgba(69, 233, 96, 0.8);
}

.feature-box {
  padding: 3rem;
  background-color: rgba(255, 255, 255, 0.8);
  width: 25rem;
  height: 30rem;
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  transition: all 0.5s;
}
.feature-box-icon {
  font-size: 8rem;
  background-image: linear-gradient(to right, #45e960, rgba(0, 0, 0, 0.8));
  -webkit-background-clip: text;
  color: transparent;
}
.feature-box:hover {
  transform: translateY(-1rem);
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.5);
}

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;
}
.card__side {
  height: 52rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.card__side--front {
  background-color: white;
}
.card__side--back {
  transform: rotateY(180deg);
}
.card__side--back-1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}
.card__side--back-2 {
  background-image: linear-gradient(to right bottom, #45e960, #28b485);
}
.card__side--back-3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}
.card__picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.card__picture--1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg);
}
.card__picture--2 {
  background-image: linear-gradient(to right bottom, #45e960, #28b485), url(../img/nat-6.jpg);
}
.card__picture--3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg);
}
.card__heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: white;
  position: absolute;
  top: 12rem;
  right: 2rem;
  width: 75%;
}
.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.card__heading-span--1 {
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}
.card__heading-span--2 {
  background-image: linear-gradient(to right bottom, rgba(69, 233, 96, 0.85), rgba(40, 180, 133, 0.85));
}
.card__heading-span--3 {
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
}
.card__details {
  padding: 3rem;
}
.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}
.card__details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}
.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}
.card__price-box {
  text-align: center;
  color: white;
  margin-bottom: 8rem;
}
.card__price-only {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.card__price-value {
  font-size: 6rem;
  font-weight: 100;
}
@media only screen and (max-width: 56.25em), only screen and (hover: none) {
  .card {
    height: auto;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  }
  .card__side {
    height: auto;
    position: relative;
    box-shadow: none;
  }
  .card__side--back {
    transform: rotateY(0);
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
  }
  .card:hover .card__side--front {
    transform: rotateY(0);
  }
  .card__details {
    padding: 1rem 3rem;
  }
  .card__cta {
    position: relative;
    top: 0%;
    left: 0;
    transform: translate(0);
    width: 100%;
    padding: 7rem 4rem 4rem 4rem;
  }
  .card__price-box {
    margin-bottom: 3rem;
  }
  .card__price-value {
    font-size: 4rem;
  }
}

.section-about {
  padding: 22rem 0;
  margin-top: -11rem;
  background-color: #f7f7f7;
}

.section-features {
  margin-top: -11rem;
}

.section-top-tours {
  padding: 25rem 0 20rem 0;
  margin-top: -11rem;
  background-color: #f7f7f7;
}

/*# sourceMappingURL=style.css.map */
