/* setting the default properties in the using a universal selector */
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding: 2rem;
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  color: rgba(128, 128, 128, 0.664);
  font-weight: 400;
  line-height: 1.7;
}

.u-center-text {
  text-align: center;
}

.u-margin-buttom-small {
  margin-bottom: 1rem;
}

.u-margin-buttom-medium {
  margin-bottom: 4rem;
}

.u-margin-buttom-large {
  margin-bottom: 8rem;
}

.heading-secondary {
  background-image: linear-gradient(to right, #45e960, #28b485);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 3.5rem;
  font-weight: 700;
  transition: all 2s;
}
.heading-secondary:hover {
  transform: skewX(20deg) skewY(2deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.paragraph {
  color: rgb(99, 97, 97);
  font-size: 1.4rem;
}

.heading-tertiary {
  color: rgb(99, 97, 97);
  font-size: 1.7rem;
  text-transform: uppercase;
}

@keyframes moveInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    opacity: 1;
    transform: translateX(1rem);
  }
  100% {
    transform: translate(0rem);
  }
}
@keyframes moveInFromRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    opacity: 1;
    transform: translateX(1rem);
  }
  100% {
    transform: translate(0rem);
  }
}
@keyframes moveInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  100% {
    transform: translate(0rem);
  }
}
.heading-secondary {
  background-image: linear-gradient(to right, #45e960, #28b485);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 3.5rem;
  font-weight: 700;
  transition: all 2s;
}
.heading-secondary:hover {
  transform: skewX(20deg) skewY(2deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.paragraph {
  color: rgb(99, 97, 97);
  font-size: 1.4rem;
}

.heading-tertiary {
  color: rgb(99, 97, 97);
  font-size: 1.7rem;
  text-transform: uppercase;
}

.header {
  background-image: linear-gradient(to right bottom, rgba(69, 233, 96, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 95vh;
  clip-path: polygon(0 0, 100% 0, 100% 84%, 0 100%);
  position: relative;
}
.header__logo-box {
  position: absolute;
  top: 0;
  bottom: 0;
}
.header__logo {
  height: 4rem;
}
.header__text-box {
  color: white;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  text-align: center;
}
.header-text--main {
  text-transform: uppercase;
  display: block;
  letter-spacing: 3rem;
  font-size: 6rem;
  animation-name: moveInFromLeft;
  animation-duration: 2s;
}
.header-text--sub {
  text-transform: uppercase;
  display: block;
  font-size: 40%;
  letter-spacing: 2rem;
  animation-name: moveInFromRight;
  animation-duration: 2s;
  margin-bottom: 8rem;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
@media only screen and (max-width: 56.25em) {
  .row:not(:last-child) {
    margin-bottom: 6rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .row {
    max-width: 50rem;
    padding: 0 3rem;
  }
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
@media only screen and (max-width: 56.25em) {
  .row [class^=col-]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 6rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .row [class^=col-] {
    width: 100% !important;
  }
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
.row .col-2-of-3 {
  width: calc(2 * (100% - 2 * 6rem) / 3 + 6rem);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}
.row .col-2-of-4 {
  width: calc(2 * (100% - 3 * 6rem) / 4 + 6rem);
}
.row .col-3-of-4 {
  width: calc(3 * (100% - 3 * 6rem) / 4 + 2 * 6rem);
}

.btn {
  /* doing the button animations */
  /* button slide in from bottom animation */
}
.btn:link, .btn:visited {
  text-decoration: none;
  border-radius: 10rem;
  text-transform: uppercase;
  transition: all 0.7s;
  position: relative;
}
.btn--white {
  background-color: white;
  color: grey;
  padding: 1.5rem;
}
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10rem;
  z-index: -1;
  transition: all 0.5s;
}
.btn--white::after {
  background-color: white;
  color: grey;
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn--animated {
  animation: moveInFromBottom 0.5s ease-out 0.75;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

.section-about {
  padding: 22rem 0;
  margin-top: -11rem;
  background-color: #f7f7f7;
}

.composition {
  position: relative;
}
.composition__images {
  width: 30rem;
  border-radius: 1rem;
  outline-offset: 2rem;
  transition: all 0.5s;
}
.composition__images-p1 {
  position: absolute;
  top: 0;
  left: 0;
}
.composition__images-p2 {
  position: absolute;
  top: 5rem;
  left: 20rem;
}
.composition__images-p3 {
  position: absolute;
  top: 15rem;
  left: 10rem;
}
.composition__images-p1:hover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  transform: scale(1.1);
  transform: translateY(-1rem);
  outline: 1rem solid #45e960;
}
.composition__images-p2:hover {
  position: absolute;
  top: 5rem;
  left: 20rem;
  z-index: 10;
  transform: scale(1.1);
  transform: translateY(-1rem);
  outline: 1rem solid #45e960;
}
.composition__images-p3:hover {
  position: absolute;
  top: 15rem;
  left: 10rem;
  z-index: 10;
  transform: scale(1.1);
  transform: translateY(-1rem);
  outline: 1rem solid #45e960;
}
.composition:hover .composition__images:not(:hover) {
  transform: scale(0.9);
}

/*# sourceMappingURL=style.css.map */
