// header css codes
.header {
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url("../img/hero.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 95vh;
  clip-path: polygon(0 0, 100% 0, 100% 84%, 0 100%);
  --webkit-clip-path: polygon(0 0, 100% 0, 100% 84%, 0 100%);
  @include respond(phone) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }
  position: relative;
  &__logo-box {
    position: absolute;
    top: 0;
    bottom: 0;
  }
  &__logo {
    height: 4rem;
  }
  &__text-box {
    color: $color-white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    text-align: center;
  }

  &-text--main {
    text-transform: uppercase;
    display: block;
    letter-spacing: 3rem;
    font-size: 6rem;
    animation-name: moveInFromLeft;
    animation-duration: 2s;
    @include respond(phone) {
      letter-spacing: 1rem;
      font-family: 5rem;
    }
  }
  &-text--sub {
    text-transform: uppercase;
    display: block;
    font-size: 40%;
    letter-spacing: 2rem;
    animation-name: moveInFromRight;
    animation-duration: 2s;
    margin-bottom: 8rem;
    @include respond(phone) {
      letter-spacing: 0.5rem;
    }
  }
}
